/* The second and third selectors at the bottom are necessary to prevent
   conflicts with installed themes. */
toolbarbutton.bookie-button,
window:not([active="true"]) toolbarbutton.bookie-button,
toolbar[iconsize="small"] toolbarbutton.bookie-button {
  list-style-image: url("chrome://bookie-os/skin/24px.png");
}

#bookie-button {
  -moz-image-region: rect(0px, 24px, 24px, 0px);
  /* Or: list-style-image: url("moz-icon://stock/gtk-some-icon?size=menu"); */
}

#bookie-button[disabled="true"] {
  -moz-image-region: rect(24px, 24px, 48px, 0px);
}
